################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/*
/obj/*
/bin/Debug/client_secret_990038621125-bv4d35omc54hoc51d87fcnite8qlggeu.apps.googleusercontent.com.json
/client_secret_990038621125-bv4d35omc54hoc51d87fcnite8qlggeu.apps.googleusercontent.com.json
